//Colors font
$color-text-white : #ffffff;
$color-text-black : #000000;
$color-text-blue : #09fdf4;

//Colors Background
$color-back-white : #ffffff;
$color-back-black : #050505;


//Shadow
$shadow: 1px 1px 6px rgba(0, 0, 0, 0.08);

//Font
$font-size-m: 3.7rem;
$font-size-l: 7.2rem;

$font-size-services-l: 4rem;
$font-size-services-m: 2.4rem;
$font-size-services-s: 1.6rem;

//Width
$max-width : 114rem;